<div class="main">
    <div class="user">
        <span (click)="toggleUserOptions()">{{ 'PAGES.HOME.WELCOME' | translate }} {{user.name}}</span>
        <div id="user-options" *ngIf="isUserOptionsVisible">
            <p *ngIf="user.isArtist" [routerLink]="['/manage', user.uuid]">{{ 'PAGES.HOME.MANAGE' | translate }}</p>
            <p (click)="logout()">{{ 'PAGES.HOME.LOGOUT' | translate }}</p>
        </div>
    </div>
    

    <h1>{{ 'PAGES.HOME.RECOMMENDED' | translate }}</h1>
    <div class="recommended scrollable" *ngIf="allSongs$">
        <div class="song" *ngFor="let song of allSongs$ | async" (contextmenu)="displayContextMenu($event, song); false" >
            <div (click)="playSong(song)">
                <div class="song-info">
                    <p>{{song.name}}</p>
                    <a [routerLink]="['/artist', song.artist?.id]">{{song.artist?.name}}</a>
                </div>
                <img *ngIf="!song.isImgLoaded" src="assets/icons/load.gif" class="loading"/>
                <img [hidden]="!song.isImgLoaded" [src]="song?.imageId" class="thumbnail" (load)="song.isImgLoaded = !song.isImgLoaded"/>
            </div>
        </div>
    </div>
    <h1>{{ 'PAGES.HOME.ARTISTS' | translate }}</h1>
    <div class="artists scrollable" *ngIf="allArtist$">
        <div class="artist" *ngFor="let artist of allArtist$ | async" [routerLink]="['/artist', artist.id]">
            <img *ngIf="!artist.isImgLoaded" src="assets/icons/load.gif" class="loading"/>
            <img [hidden]="!artist.isImgLoaded" [src]="artist.imageId" class="thumbnail" (load)="artist.isImgLoaded = !artist.isImgLoaded" />
            <span>{{artist.name}}</span>
        </div>
    </div>
    <h1>{{ 'PAGES.HOME.PLAYLISTS' | translate }}</h1>
    <div clsas="playlists scrollable">
        <div class="playlist" *ngFor="let playlist of allPlaylists$ | async" [routerLink]="['/playlist', playlist.id]">
            <span>{{playlist.name}}</span>
        </div>
    </div>
</div>

<app-context-menu
    *ngIf="rightClickMenuItems.length > 0 && isDisplayContextMenu"
    [ngStyle]="getRightClickMenuStyle()"
    [contextMenuItems]="rightClickMenuItems"
    (onContextMenuItemClick)="handleMenuItemClick($event)">
</app-context-menu>